{% extends 'layout.html' %}

{% block title %} Productos {% endblock %}

{% block content %}
<h1 class="title">Productos</h1>

{% if messages %}
{% for i in messages %}
<div class="message">
    {{i}}
</div>
{% endfor %}
{% endif %}



    {% for i in productos %}
<article class="productos">
    {% if i.imagen %}
    <div class="image">
        <img src="{{i.imagen.url}}" alt="Imagen">
    </div>
    
    {% endif %}
    <div class="data">
        <h2>{{i.nombre}}</h2>
        <p>
            Descripción: {{i.descripcion}}
            <br>
            SKU {{i.sku}}
            <br>
            <a href="{% url 'borrar' id=i.id %}" class="btn btn-delete">Eliminar</a>
            <br>
        </p>
    </div>
    <div class="clearfix"></div>
</article>
    

    {% endfor %}

{% endblock %}